.message {
    width: 600px;
    margin: 20px auto;
    padding: 10px 15px;
    box-sizing: border-box;
    border-radius: 8px;
    font-weight: 500;
}

.err {
    background-color: var(--error);
    color: #fff;
}

.sccs {
    background-color: var(--success);
    color: #fff;
}