.app-card-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
}

.app-card {
    background-color: rgb(230, 229, 229);
    padding: 10px 20px;
    box-sizing: border-box;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    border-left: 5px solid green;
}

.header {
    display: flex;
    align-items: center;
}

.title {
    margin-left: 10px;
    font-weight: 600;
}

.git-icon {
    font-size: 2rem;
}

.body {
    display: flex;
    font-size: 0.8rem;
}

.labels {
    flex: 1;
}

.values {
    flex: 3;
}

.footer {
    margin-top: 10px;
}

.btn-sync {
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color: gray;
    display: flex;
    align-items: center;
    color: #fff;
    cursor: pointer;
    font-weight: 600;
}

.btn-sync:hover {
    background-color: darkgray;
}

.sync-icon {
    margin-right: 7px;
}

.spin {
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}