.header {
    background-color: var(--primary);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title {
    color: #fff;
    font-size: 2rem;
    text-decoration: none;
    margin-left: 2rem;
}

.nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    margin-right: 1rem;
}

.nav ul li a {
    margin: 1rem;
    padding: 0.5rem 1rem;
    display: block;
    font-size: 1rem;
    text-decoration: none;
    color: #fff;
    background-color: var(--primary-light);
    border-radius: 10px;
    transition: 0.2s;
}

.nav ul li a:hover {
    background-color: var(--primary-dark);
}